.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

mat-card-header {
    width: 100%;
    /* Ensure the header takes up the full width of the card */
}

.login-title {
    padding: 0;
    margin: 0;
}

mat-card-subtitle {
    margin-bottom: 10px;
    margin-top: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}