.login-header {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    justify-content: center;
    /* Align items to the left */
    gap: 10px;
    /* Space between the image and text */
    .logo {
        order: 0;
        /* Ensure the image stays on the left */
    }
    h1 {
        order: 1;
        font-size: 28px;
        padding-left: 10px;
        letter-spacing: -3px;
        padding: 0;
        margin: 0;
    }
}