<div class="dashboard-layout">
    <app-header></app-header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="side" opened>
            <app-sidebar (addDocument)="addNewDocument()" (openSettings)="openSettings()"></app-sidebar>
        </mat-sidenav>
        <!-- Main Content Area -->
        <mat-sidenav-content>
            <header class="dashboard-header">
                <h1>Welcome!</h1>
                <mat-form-field class="search-field">
                    <mat-label>Search in your documents</mat-label>
                    <input matInput [(ngModel)]="searchText" (input)="filterDocuments()" />
                    <!-- Clear button -->
                    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText = ''">
            <mat-icon>close</mat-icon>
          </button>
                </mat-form-field>
            </header>

            <!-- Document List Display -->
            <app-document-list [documents]="documents" (edit)="editDocument($event)" (delete)="deleteDocument($event)"></app-document-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>