.full-width-header {
    width: 100%;
    padding: 16px;
    background-color: #3f51b5; // Example color
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    gap: 8px;
    /* Space between icon and text */
}

.header-icon {
    font-size: 24px;
    /* Match font size of h1 text */
}

.sidenav-container {
    flex: 1;
    display: flex;
}

mat-sidenav {
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}